@charset "UTF-8";

/*ceo 인사말*/
#sub_img {
	width: 971px;
	height: 179px;
	background-image: url(../images/company/sub_back.png);
	background-repeat: no-repeat;
	background-position: left top;
}

/*서브 메뉴 시작*/
#sub_menu {
	width: 238px;
	float: left;
	margin: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

#sub_menu ul {
	margin: 20px 0 0 10px;
	list-style: none;
}

#sub_menu a {
	text-decoration: none;
	color: gray;
	display: block;
	height: 15px;
	width: 150px;
	padding: 7px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#sub_menu a:hover {
	background-image: url(../images/bullet_orange.gif);
	background-repeat: no-repeat;
	background-position: right center;
	color: #f90;
}

/*메인 컨텐츠 시작*/
article {
	float: right;
	width: 660px;
	padding-right: 30px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

article h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 45px;
	color: #ccc; 
	margin: 20px 0;
	font-weight: normal;
}

article p {
	padding-left: 10px;
}

figure.ceo {
	float: right;
	margin: 5px;
}

figcaption {
	text-align: center;
	color: #f90;
}

/*history 부분*/
article .y2011, article .y2010, article .y2009 {
	padding: 10px 0 0 150px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: gray;
}

article .y2011 h3, article .y2010 h3, article .y2009 h3 {
	display: none; /*년도를 안보이게 만듬*/
}

/*년도를 글자대신에 이미지로 처리*/

article .y2011 {
	background-image: url(../images/company/2011.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

article .y2010 {
	background-image: url(../images/company/2010.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

article .y2009 {
	background-image: url(../images/company/2009.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

article .y2011 dl, article .y2010 dl, article .y2009 dl {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc; 
}

article .y2011 dt, article .y2010 dt, article .y2009 dt {
	float: left;
	/*text-tranform 대문자로 또는 소문자로 바꾸는 속성, 기본값은 none
	capitalize: 단어의 첫번째 글자로 대문자로 바꾼다
	uppercase: 모든 글자를 대문자로 바꾼다
	lowercase: 모든 글자를 소문자로 바꾼다*/
	text-transform: capitalize;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	color: #39f;
	padding-top: 3px;
	margin: 0;
}

/*년도의 마지막 dl의 밑줄을 안보이게 한다*/
article dl.dot_none {
	border-bottom: none;
}

article .y2011 dd, article .y2010 dd, article .y2009 dd {
	padding: 0 0 0 15px;
	line-height: 2em;	/*줄간격, 행간 태그p에는 적용안되는듯*/
	background-image: url(../images/company/h_bullet.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

/*회원가입 폼 시작*/
form#join {
	margin: 10px 0 0 0;
	width: 670px;
}

form#join fieldset {
	padding: 10px 0 20px 5px;
	border: none;
}

form#join fieldset legend {
	font-family: Roboto, Franklin, Calibri;
	font-size: 20px;
	border-bottom: 1px dotted #666;
	width: 600px;
	padding: 5px 0;
}

form#join label {
	width: 140px;
	float: left;
	margin: 5px 0;
}

form#join input {
	margin: 5px 0;	/*마진을 label과 같이 맞춰야 간격이 일정해짐*/
	border: 1px solid #999;
	background-color: white;
}

form#join input.id {
	width: 100px;
	height: 18px;
}

form#join input.dup {	/*중복체크 버튼 css*/
	width: 120px;
	height: 23px;
	border-radius: 8px;
	border: none;	/*배경이미지 넣을거라 테두리 없앰*/
	margin: 0 0 0 5px;
	font-weight: bold;
	color: white;
	background-image: url(../images/member/cancel_back.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	box-shadow: 3px 3px 2px #ccc;
}

form#join input.pass {
	width: 160px;
	height: 18px;
}

form#join input.nick{
	width: 100px;
	height: 18px;
}

form#join input.email {
	width: 200px;
	height: 18px;
}

form#join input.address {
	width: 300px;
	height: 18px;
}

form#join input.phone, .number {
	width: 160px;
	height: 18px;
}

form#join #buttons {
	margin: 20px 0 0 0;
}

form#join #buttons .submit, .reset {
	width: 120px;
	height: 23px;
	border: 1px solid #666;
	border-radius: 8px;
	box-shadow: 3px 3px 2px #ccc;
	font-size: 14px;
}

form#join #buttons .submit {
	background-image: url(../images/member/cancel_back.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	color: white;
	border: none;
	font-weight: bold;
}

form#join #buttons .reset {
	margin: 0 0 0 20px;
	background-image: url(../images/member/cancel_back.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	color: white;
	border: none;
	font-weight: bold;
}










